<a href="https://colab.research.google.com/github/MehdiQurbanov/Annotation-Processor/blob/main/Data_Cleaning_with_Python_%26_Pandas_%7C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [101]:
import pandas as pd
import os

# Dosyaları kontrol et
print(os.listdir("/content"))

# CSV'yi oku
df = pd.read_csv("/content/students_data.csv")

# İlk 5 satırı göster
print(df.head())

['.config', '.ipynb_checkpoints', 'students_data.csv', 'sample_data']
   student_id         name   age  gender grade  math_score english_score  \
0         100   jane smith  16.0  female    11        75.0           NaN
1         101     John Doe  16.0    Male  10th        74.0            95
2         102     Chris P.   NaN    MALE    10         NaN       missing
3         103   jane smith  16.0  FEMALE    10         NaN       missing
4         104  Sara O'Neil  16.0    male    11         NaN            96

   science_score enrolled_date            remarks
0             66    2022-06-10          excellent
1             94    10-06-2022               GOOD
2             69    06/12/2022  needs improvement
3             62    10-06-2022            average
4             64    2022-06-10               GOOD

In [102]:
df.head()

,student_id,name,age,gender,grade,math_score,english_score,science_score,enrolled_date,remarks
0,100,jane smith,16.0,female,11,75.0,NaN,66,2022-06-10,excellent
1,101,John Doe,16.0,Male,10th,74.0,95,94,10-06-2022,GOOD
2,102,Chris P.,NaN,MALE,10,NaN,missing,69,06/12/2022,needs improvement
3,103,jane smith,16.0,FEMALE,10,NaN,missing,62,10-06-2022,average
4,104,Sara O'Neil,16.0,male,11,NaN,96,64,2022-06-10,GOOD

In [104]:
df

,student_id,name,age,gender,grade,math_score,english_score,science_score,enrolled_date,remarks
0,100,jane smith,16.0,female,11,75.0,NaN,66,2022-06-10,excellent
1,101,John Doe,16.0,Male,10th,74.0,95,94,10-06-2022,GOOD
2,102,Chris P.,NaN,MALE,10,NaN,missing,69,06/12/2022,needs improvement
3,103,jane smith,16.0,FEMALE,10,NaN,missing,62,10-06-2022,average
4,104,Sara O'Neil,16.0,male,11,NaN,96,64,2022-06-10,GOOD
5,105,Mike O’Reilly,16.0,Female,10,NaN,NaN,83,06/12/2022,needs improvement
6,106,ali Khan,17.0,female,11,64.0,NaN,75,06/12/2022,Good
7,107,Sara O'Neil,17.0,female,12,NaN,63,62,2022/06/11,excellent
8,108,Mike O’Reilly,16.0,Female,12,80.0,missing,89,06/12/2022,poor
9,109,Robert Brown,17.0,female,12,NaN,missing,97,10-06-2022,needs improvement
10,110,lucy gray,17.0,male,11th,65.0,67,100,06/12/2022,excellent
11,111,Simran Singh,16.0,FEMALE,11th,NaN,missing,95,2022-06-10,average
12,112,Patel R.,17.0,female,11,NaN,87,89,2022-06-10,poor
13,113,Patel R.,17.0,male,10,NaN,NaN,98,06/12/2022,Average
14,114,Ali Khan,17.0,male,12,NaN,91,67,2022/06/11,poor
15,115,Lucy gray,16.0,Female,12,65.0,91,94,06/12/2022,Average
16,116,Chris P.,NaN,Female,11,NaN,NaN,72,2022/06/11,excellent
17,117,Ali Khan,18.0,male,11th,67.0,74,81,2022-06-10,GOOD
18,118,Simran Singh,17.0,Male,10,100.0,74,62,2022/06/11,average
19,119,Patel R.,17.0,MALE,11th,73.0,NaN,90,06/12/2022,Good
20,120,Sara O'Neil,17.0,Male,10,NaN,missing,89,2022-06-10,average
21,121,John Doe,18.0,female,11,66.0,72,94,10-06-2022,Average
22,122,Sara O'Neil,17.0,MALE,11th,75.0,NaN,66,2022-06-10,good student
23,123,jane smith,17.0,Female,11th,NaN,missing,63,06/12/2022,excellent
24,124,John Doe,18.0,MALE,11th,NaN,NaN,91,06/12/2022,GOOD
25,125,Mike O’Reilly,17.0,Male,12,94.0,80,63,10-06-2022,Average
26,126,John Doe,NaN,Male,10th,64.0,missing,67,06/12/2022,good student
27,127,Simran Singh,16.0,FEMALE,12,NaN,76,80,06/12/2022,poor
28,128,Sara O'Neil,17.0,female,11,NaN,64,89,2022-06-10,average
29,129,Patel R.,17.0,male,11,NaN,64,83,2022/06/11,Average
30,129,Patel R.,17.0,male,11,NaN,64,83,2022/06/11,Average

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   student_id     31 non-null     int64
 1   name           31 non-null     object
 2   age            28 non-null     float64
 3   gender         31 non-null     object
 4   grade          31 non-null     object
 5   math_score     13 non-null     float64
 6   english_score  23 non-null     object
 7   science_score  31 non-null     int64
 8   enrolled_date  31 non-null     object
 9   remarks        31 non-null     object
dtypes: float64(2), int64(2), object(6)
memory usage: 2.6+ KB

In [5]:
# Tekrar eden satırları kontrol et
df.duplicated()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30     True
dtype: bool

In [6]:
# Tekrar eden satırları kontrol et
df = df.drop_duplicates()

In [7]:
df

,student_id,name,age,gender,grade,math_score,english_score,science_score,enrolled_date,remarks
0,100,jane smith,16.0,female,11,75.0,NaN,66,2022-06-10,excellent
1,101,John Doe,16.0,Male,10th,74.0,95,94,10-06-2022,GOOD
2,102,Chris P.,NaN,MALE,10,NaN,missing,69,06/12/2022,needs improvement
3,103,jane smith,16.0,FEMALE,10,NaN,missing,62,10-06-2022,average
4,104,Sara O'Neil,16.0,male,11,NaN,96,64,2022-06-10,GOOD
5,105,Mike O’Reilly,16.0,Female,10,NaN,NaN,83,06/12/2022,needs improvement
6,106,ali Khan,17.0,female,11,64.0,NaN,75,06/12/2022,Good
7,107,Sara O'Neil,17.0,female,12,NaN,63,62,2022/06/11,excellent
8,108,Mike O’Reilly,16.0,Female,12,80.0,missing,89,06/12/2022,poor
9,109,Robert Brown,17.0,female,12,NaN,missing,97,10-06-2022,needs improvement
10,110,lucy gray,17.0,male,11th,65.0,67,100,06/12/2022,excellent
11,111,Simran Singh,16.0,FEMALE,11th,NaN,missing,95,2022-06-10,average
12,112,Patel R.,17.0,female,11,NaN,87,89,2022-06-10,poor
13,113,Patel R.,17.0,male,10,NaN,NaN,98,06/12/2022,Average
14,114,Ali Khan,17.0,male,12,NaN,91,67,2022/06/11,poor
15,115,Lucy gray,16.0,Female,12,65.0,91,94,06/12/2022,Average
16,116,Chris P.,NaN,Female,11,NaN,NaN,72,2022/06/11,excellent
17,117,Ali Khan,18.0,male,11th,67.0,74,81,2022-06-10,GOOD
18,118,Simran Singh,17.0,Male,10,100.0,74,62,2022/06/11,average
19,119,Patel R.,17.0,MALE,11th,73.0,NaN,90,06/12/2022,Good
20,120,Sara O'Neil,17.0,Male,10,NaN,missing,89,2022-06-10,average
21,121,John Doe,18.0,female,11,66.0,72,94,10-06-2022,Average
22,122,Sara O'Neil,17.0,MALE,11th,75.0,NaN,66,2022-06-10,good student
23,123,jane smith,17.0,Female,11th,NaN,missing,63,06/12/2022,excellent
24,124,John Doe,18.0,MALE,11th,NaN,NaN,91,06/12/2022,GOOD
25,125,Mike O’Reilly,17.0,Male,12,94.0,80,63,10-06-2022,Average
26,126,John Doe,NaN,Male,10th,64.0,missing,67,06/12/2022,good student
27,127,Simran Singh,16.0,FEMALE,12,NaN,76,80,06/12/2022,poor
28,128,Sara O'Neil,17.0,female,11,NaN,64,89,2022-06-10,average
29,129,Patel R.,17.0,male,11,NaN,64,83,2022/06/11,Average

In [8]:
df.isnull().sum()

student_id        0
name              0
age               3
gender            0
grade             0
math_score       17
english_score     8
science_score     0
enrolled_date     0
remarks           0
dtype: int64

In [10]:
df['name']

0        jane smith
1          John Doe
2          Chris P.
3        jane smith
4       Sara O'Neil
5     Mike O’Reilly
6          ali Khan
7       Sara O'Neil
8     Mike O’Reilly
9      Robert Brown
10        lucy gray
11     Simran Singh
12         Patel R.
13         Patel R.
14         Ali Khan
15        Lucy gray
16         Chris P.
17         Ali Khan
18     Simran Singh
19         Patel R.
20      Sara O'Neil
21         John Doe
22      Sara O'Neil
23       jane smith
24         John Doe
25    Mike O’Reilly
26         John Doe
27     Simran Singh
28      Sara O'Neil
29         Patel R.
Name: name, dtype: object

In [105]:
df.loc[:,"name"]= df["name"].str.lower().str.title()

In [106]:
df["age"].unique()

array([16., nan, 17., 18.])

In [107]:
age_mean = df["age"].mean().round(0)

In [108]:
df.loc[:,"age"]=df["age"].fillna(age_mean)

In [109]:
df

,student_id,name,age,gender,grade,math_score,english_score,science_score,enrolled_date,remarks
0,100,Jane Smith,16.0,female,11,75.0,NaN,66,2022-06-10,excellent
1,101,John Doe,16.0,Male,10th,74.0,95,94,10-06-2022,GOOD
2,102,Chris P.,17.0,MALE,10,NaN,missing,69,06/12/2022,needs improvement
3,103,Jane Smith,16.0,FEMALE,10,NaN,missing,62,10-06-2022,average
4,104,Sara O'Neil,16.0,male,11,NaN,96,64,2022-06-10,GOOD
5,105,Mike O’Reilly,16.0,Female,10,NaN,NaN,83,06/12/2022,needs improvement
6,106,Ali Khan,17.0,female,11,64.0,NaN,75,06/12/2022,Good
7,107,Sara O'Neil,17.0,female,12,NaN,63,62,2022/06/11,excellent
8,108,Mike O’Reilly,16.0,Female,12,80.0,missing,89,06/12/2022,poor
9,109,Robert Brown,17.0,female,12,NaN,missing,97,10-06-2022,needs improvement
10,110,Lucy Gray,17.0,male,11th,65.0,67,100,06/12/2022,excellent
11,111,Simran Singh,16.0,FEMALE,11th,NaN,missing,95,2022-06-10,average
12,112,Patel R.,17.0,female,11,NaN,87,89,2022-06-10,poor
13,113,Patel R.,17.0,male,10,NaN,NaN,98,06/12/2022,Average
14,114,Ali Khan,17.0,male,12,NaN,91,67,2022/06/11,poor
15,115,Lucy Gray,16.0,Female,12,65.0,91,94,06/12/2022,Average
16,116,Chris P.,17.0,Female,11,NaN,NaN,72,2022/06/11,excellent
17,117,Ali Khan,18.0,male,11th,67.0,74,81,2022-06-10,GOOD
18,118,Simran Singh,17.0,Male,10,100.0,74,62,2022/06/11,average
19,119,Patel R.,17.0,MALE,11th,73.0,NaN,90,06/12/2022,Good
20,120,Sara O'Neil,17.0,Male,10,NaN,missing,89,2022-06-10,average
21,121,John Doe,18.0,female,11,66.0,72,94,10-06-2022,Average
22,122,Sara O'Neil,17.0,MALE,11th,75.0,NaN,66,2022-06-10,good student
23,123,Jane Smith,17.0,Female,11th,NaN,missing,63,06/12/2022,excellent
24,124,John Doe,18.0,MALE,11th,NaN,NaN,91,06/12/2022,GOOD
25,125,Mike O’Reilly,17.0,Male,12,94.0,80,63,10-06-2022,Average
26,126,John Doe,17.0,Male,10th,64.0,missing,67,06/12/2022,good student
27,127,Simran Singh,16.0,FEMALE,12,NaN,76,80,06/12/2022,poor
28,128,Sara O'Neil,17.0,female,11,NaN,64,89,2022-06-10,average
29,129,Patel R.,17.0,male,11,NaN,64,83,2022/06/11,Average
30,129,Patel R.,17.0,male,11,NaN,64,83,2022/06/11,Average

In [16]:
df["gender"]

0     female
1       Male
2       MALE
3     FEMALE
4       male
5     Female
6     female
7     female
8     Female
9     female
10      male
11    FEMALE
12    female
13      male
14      male
15    Female
16    Female
17      male
18      Male
19      MALE
20      Male
21    female
22      MALE
23    Female
24      MALE
25      Male
26      Male
27    FEMALE
28    female
29      male
Name: gender, dtype: object

In [110]:
df["gender"].unique()

array(['female', 'Male', 'MALE', 'FEMALE', 'male', 'Female'], dtype=object)

In [111]:
df.loc[:,"gender"] = df["gender"].str.lower().str.title()

In [150]:
df

Empty DataFrame
Columns: [student_id, name, age, gender, grade, math_score, english_score, science_score, enrolled_date, remarks]
Index: []

In [113]:
df["grade"]

0       11
1     10th
2       10
3       10
4       11
5       10
6       11
7       12
8       12
9       12
10    11th
11    11th
12      11
13      10
14      12
15      12
16      11
17    11th
18      10
19    11th
20      10
21      11
22    11th
23    11th
24    11th
25      12
26    10th
27      12
28      11
29      11
30      11
Name: grade, dtype: object

In [114]:
df["grade"].unique()

array(['11', '10th', '10', '12', '11th'], dtype=object)

In [115]:
df.loc[:,"grade"] = df["grade"].replace({'10th': '10', '11th': '11'})

In [116]:
math_mean = df["math_score"].mean()

In [117]:

df.loc[:, "math_score"] = df["math_score"].fillna(math_mean)

In [137]:

df

Empty DataFrame
Columns: [student_id, name, age, gender, grade, math_score, english_score, science_score, enrolled_date, remarks]
Index: []

In [119]:
df["english_score"]

0         NaN
1          95
2     missing
3     missing
4          96
5         NaN
6         NaN
7          63
8     missing
9     missing
10         67
11    missing
12         87
13        NaN
14         91
15         91
16        NaN
17         74
18         74
19        NaN
20    missing
21         72
22        NaN
23    missing
24        NaN
25         80
26    missing
27         76
28         64
29         64
30         64
Name: english_score, dtype: object

In [120]:
print(df.columns)

Index(['student_id', 'name', 'age', 'gender', 'grade', 'math_score',
       'english_score', 'science_score', 'enrolled_date', 'remarks'],
      dtype='object')

In [121]:
df["enrolled_date"].unique()

array(['2022-06-10', '10-06-2022', '06/12/2022', '2022/06/11'],
      dtype=object)

In [122]:
mask = (df["enrolled_date"] >= "2025-05-01") & (df["enrolled_date"] <= "2025-05-03")
df_filtered = df.loc[mask]

In [123]:
print(df.columns)

Index(['student_id', 'name', 'age', 'gender', 'grade', 'math_score',
       'english_score', 'science_score', 'enrolled_date', 'remarks'],
      dtype='object')

In [125]:
df["remarks"].unique()

array(['excellent', 'GOOD', 'needs improvement', 'average', 'Good',
       'poor', 'Average', 'good student'], dtype=object)

In [142]:
df = df.dropna(subset=["english_score", "science_score", "enrolled_date"])

In [151]:
import pandas as pd

# Bütün sütunları göstər
pd.set_option('display.max_columns', None)

# Bütün sətirləri göstər (istəyə görə)
pd.set_option('display.max_rows', None)

# İndi df yazanda bütün sütunlar və sətirlər görünəcək
print(df)

Empty DataFrame
Columns: [student_id, name, age, gender, grade, math_score, english_score, science_score, enrolled_date, remarks]
Index: []

In [152]:
import pandas as pd

# Nümunə DataFrame
df = pd.DataFrame({
    "student_id": [1, 2, 3],
    "name": ["Ali", "Veli", "Leyla"],
    "english_score": [90, None, 85],
    "science_score": [80, 75, None],
    "enrolled_date": ["2025:08:01", "2025:08:02", None]
})

# Yalnız dolu sətirləri saxla
df = df.dropna(subset=["english_score", "science_score", "enrolled_date"])

print(df)

   student_id name  english_score  science_score enrolled_date
0           1  Ali           90.0           80.0    2025:08:01

In [153]:
df

   student_id name  english_score  science_score enrolled_date
0           1  Ali           90.0           80.0    2025:08:01

In [158]:

import pandas as pd
import numpy as np

# 30 sətirlik DataFrame
n = 30
df = pd.DataFrame({
    "student_id": range(1, n+1),
    "name": [f"Student_{i}" for i in range(1, n+1)],
    "age": np.random.randint(15, 20, size=n),
    "gender": np.random.choice(["Male", "Female"], size=n),  # tam sözlə
    "grade": np.random.choice(["9th", "10th", "11th"], size=n),
    "math_score": np.random.randint(50, 100, size=n),
    "english_score": np.random.randint(60, 100, size=n),
    "science_score": np.random.randint(60, 100, size=n),
    "enrolled_date": [f"2025:{str(np.random.randint(1,13)).zfill(2)}:{str(np.random.randint(1,29)).zfill(2)}" for _ in range(n)],
    "remarks": np.random.choice(["good", "improvement", "needs review"], size=n)
})

print(df)

    student_id        name  age  gender grade  math_score  english_score  \
0            1   Student_1   17  Female   9th          65             82
1            2   Student_2   15    Male   9th          83             64
2            3   Student_3   16  Female   9th          95             81
3            4   Student_4   16  Female   9th          73             73
4            5   Student_5   19    Male  11th          68             81
5            6   Student_6   16    Male   9th          99             64
6            7   Student_7   15    Male  11th          65             70
7            8   Student_8   18  Female   9th          52             81
8            9   Student_9   17  Female   9th          82             86
9           10  Student_10   15    Male  11th          76             64
10          11  Student_11   15  Female   9th          80             91
11          12  Student_12   19    Male   9th          72             62
12          13  Student_13   15  Female  11th          78             79
13          14  Student_14   19    Male  10th          59             69
14          15  Student_15   19  Female  10th          66             80
15          16  Student_16   18    Male  10th          80             98
16          17  Student_17   19    Male  11th          75             73
17          18  Student_18   19    Male  11th          50             98
18          19  Student_19   17  Female  11th          83             63
19          20  Student_20   16  Female  11th          63             73
20          21  Student_21   17  Female   9th          79             89
21          22  Student_22   19    Male  10th          83             70
22          23  Student_23   15  Female  10th          93             66
23          24  Student_24   17    Male  11th          99             86
24          25  Student_25   16    Male  11th          75             95
25          26  Student_26   16  Female  10th          94             74
26          27  Student_27   18    Male  11th          61             88
27          28  Student_28   18  Female  11th          65             93
28          29  Student_29   19    Male  10th          50             91
29          30  Student_30   17  Female   9th          67             86

    science_score enrolled_date       remarks
0              93    2025:03:25   improvement
1              74    2025:01:04   improvement
2              71    2025:08:12  needs review
3              96    2025:04:16   improvement
4              85    2025:03:19  needs review
5              61    2025:04:26  needs review
6              87    2025:11:07  needs review
7              84    2025:12:13          good
8              72    2025:05:01          good
9              95    2025:12:27   improvement
10             82    2025:03:12          good
11             83    2025:02:05   improvement
12             75    2025:02:26  needs review
13             70    2025:03:17          good
14             93    2025:04:17   improvement
15             96    2025:04:28   improvement
16             75    2025:12:26   improvement
17             62    2025:10:07  needs review
18             75    2025:02:02  needs review
19             95    2025:08:03          good
20             84    2025:05:14  needs review
21             84    2025:07:10   improvement
22             95    2025:11:23          good
23             70    2025:07:26          good
24             78    2025:03:25          good
25             74    2025:04:03          good
26             71    2025:11:15  needs review
27             60    2025:04:22          good
28             90    2025:06:16  needs review
29             80    2025:03:25   improvement

In [159]:
df

,student_id,name,age,gender,grade,math_score,english_score,science_score,enrolled_date,remarks
0,1,Student_1,17,Female,9th,65,82,93,2025:03:25,improvement
1,2,Student_2,15,Male,9th,83,64,74,2025:01:04,improvement
2,3,Student_3,16,Female,9th,95,81,71,2025:08:12,needs review
3,4,Student_4,16,Female,9th,73,73,96,2025:04:16,improvement
4,5,Student_5,19,Male,11th,68,81,85,2025:03:19,needs review
5,6,Student_6,16,Male,9th,99,64,61,2025:04:26,needs review
6,7,Student_7,15,Male,11th,65,70,87,2025:11:07,needs review
7,8,Student_8,18,Female,9th,52,81,84,2025:12:13,good
8,9,Student_9,17,Female,9th,82,86,72,2025:05:01,good
9,10,Student_10,15,Male,11th,76,64,95,2025:12:27,improvement
10,11,Student_11,15,Female,9th,80,91,82,2025:03:12,good
11,12,Student_12,19,Male,9th,72,62,83,2025:02:05,improvement
12,13,Student_13,15,Female,11th,78,79,75,2025:02:26,needs review
13,14,Student_14,19,Male,10th,59,69,70,2025:03:17,good
14,15,Student_15,19,Female,10th,66,80,93,2025:04:17,improvement
15,16,Student_16,18,Male,10th,80,98,96,2025:04:28,improvement
16,17,Student_17,19,Male,11th,75,73,75,2025:12:26,improvement
17,18,Student_18,19,Male,11th,50,98,62,2025:10:07,needs review
18,19,Student_19,17,Female,11th,83,63,75,2025:02:02,needs review
19,20,Student_20,16,Female,11th,63,73,95,2025:08:03,good
20,21,Student_21,17,Female,9th,79,89,84,2025:05:14,needs review
21,22,Student_22,19,Male,10th,83,70,84,2025:07:10,improvement
22,23,Student_23,15,Female,10th,93,66,95,2025:11:23,good
23,24,Student_24,17,Male,11th,99,86,70,2025:07:26,good
24,25,Student_25,16,Male,11th,75,95,78,2025:03:25,good
25,26,Student_26,16,Female,10th,94,74,74,2025:04:03,good
26,27,Student_27,18,Male,11th,61,88,71,2025:11:15,needs review
27,28,Student_28,18,Female,11th,65,93,60,2025:04:22,good
28,29,Student_29,19,Male,10th,50,91,90,2025:06:16,needs review
29,30,Student_30,17,Female,9th,67,86,80,2025:03:25,improvement